.my-card {
    margin-bottom: 10px;
}

.card-header {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.form {
    display: grid;
    text-align: left;
}