{% extends 'flatpages/default.html' %}
 
{% block title %} Удаление поста {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>

<div class="card">
    <div class="card-header">
        <h4>{{ post.title }}</h4>
        <p>Категория: {{ post.categoryType }}</p>
    </div>
    <div class="card-body">
        {{ post.text }}
        <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
    </div>
    <div class="card-footer">
        {{ post.dateCreation|date:'d-M-Y H:m' }}
        
    </div>

</div>
 
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Подтвердить</button>
</form>
{% endblock content %} 