{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

<!-- <h1>Новости</h1> -->
<!-- <h3>{{ time_now|date:'d-M-Y H:m' }}</h3>   Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
<!-- <h3> {{ value1|default_if_none:"ничего" }} </h3>  Здесь, если в переменной value1 будет записано None, то выведется текст НИЧЕГО -->

{% if news %} <!-- Если есть новости, то выводим таблицу с ними -->
{% for news in news %}
<div class="card my-card">
    <div class="card-header">
        <h4><!-- {{ forloop.counter }}) --> <a href="{% url 'post' news.id %}">{{ news.title|censor }}</a></h4>
        <p>Категория: {{ news.categoryType }}</p>
    </div>
    <div class="card-body">
        {{ news.text|truncatechars:150|censor }}
        <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
    </div>
    <div class="card-footer">
        {{ news.dateCreation|date:'d-M-Y H:m' }}
        <div>
            <a href="{% url 'post_update' news.id %}"><u> <button type="submit"
                        class="btn btn-primary">Редактировать</button> </u></a>
            <!-- добавим ссылку на редактирование товара-->

            <a href="{% url 'post_delete' news.id %}"><u> <button type="submit" class="btn btn-primary">Удалить</button>
                </u></a> <!-- добавим ссылку на удаление товара-->
        </div>
        
    </div>

</div>
{% for comments in news.comment_set.all %}
        {% if comments %}
        <div class="card">
            <div class="card-header">            
                <p>Комментарий от: {{ comments.commentUser }}</p>
            </div>
            <div class="card-body">
                <p>{{ comments.text|truncatechars:100|censor }}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
{% endfor %}


<a href="{% url 'post_create' %}"><button type="submit" class="btn btn-primary">Добавить новый пост</button></a> <br> <br>
<div>
    {% if is_paginated %}
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
    <a href="?page=1"><button type="submit" class="btn btn-info">Первая стр.</button></a>
    <a href="?page={{ page_obj.previous_page_number }}"></a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a><button type="submit" class="btn btn-info">{{ num }}</button></a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a href="?page={{ num }}"><button type="submit" class="btn btn-info">{{ num }}</button></a>
    {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"></a>
    <a href="?page={{ page_obj.paginator.num_pages }}"><button type="submit" class="btn btn-info">Постедняя стр.</button></a>
    {% endif %}

    {% endif %}
    {% else %}
    <h1>Новостей нет!</h1>
    {% endif %}

    {% endblock content %}
</div>