{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Пост</h1>
    {% if post %} <!-- Если есть посты, то выводим таблицу с ними -->
    <div class="card">
        <div class="card-header">
            <h4>{{ post.title }}</h4>
            <p>Категория: {{ post.categoryType }}</p>
        </div>
        <div class="card-body">
            {{ post.text }}
            <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
        </div>
        <div class="card-footer">
            {{ post.dateCreation|date:'d-M-Y H:m' }}
            
        </div>
        <div class="card">
            <div class="card-header">
            {% for comments in post.comment_set.all %}
                <p>Комментарий от: {{ comments.commentUser }}</p>
            </div>
            <div class="card-body">
                <p>{{ comments.text|truncatechars:150|censor }}</p>
            </div>
            {% endfor %}
        </div>
        <div>
            <form class="form" method="POST">
                {% csrf_token %} 
                {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
                <button type="submit" class="btn btn-warning">Добавить комментарий</button>
            </form>
        </div>
    
    </div>

    {% else %}
        <h1>Новостей нет!</h1>
    {% endif %}
{% endblock content %}