{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Пост</h1>
    {% if post %} <!-- Если есть посты, то выводим таблицу с ними -->
    <div class="card">
        <div class="card-header">
            <h4>{{ post.title }}</h4>
            <p>Категория: {{ post.categoryType }}</p>
        </div>
        <div class="card-body">
            {{ post.text }}
            <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
        </div>
        <div class="card-footer">
            {{ post.dateCreation|date:'d-M-Y H:m' }}
            
        </div>
    
    </div>

    {% else %}
        <h1>Новостей нет!</h1>
    {% endif %}
{% endblock content %}