{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Поиск новостей
{% endblock title %}

{% block content %}

<h3>Поиск поста</h3>

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

{% if filter %} 
{% for news in filter.qs %}
<div class="card">
    <div class="card-header">
        <h4>{{ forloop.counter }}) <a href="{% url 'post' news.id %}">{{ news.title|censor }}</a></h4>
        <p>Категория: {{ news.categoryType }}</p>
    </div>
    <div class="card-body">
        {{ news.text|truncatechars:150|censor }}
        <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
    </div>
    <div class="card-footer">
        {{ news.dateCreation|date:'d-M-Y H:m' }}
        <div>
            <a href="{% url 'post_update' news.id %}"><u> <button type="submit"
                        class="btn btn-primary">Редактировать</button> </u></a>
            <!-- добавим ссылку на редактирование товара-->

            <a href="{% url 'post_delete' news.id %}"><u> <button type="submit" class="btn btn-primary">Удалить</button>
                </u></a> <!-- добавим ссылку на удаление товара-->
        </div>
    </div>
</div>
{% endfor %}

{% endif %}
{% endblock content %}